<mat-card class="login-card">
  <mat-card-title class="login-title">Login</mat-card-title>
  <mat-card-subtitle>
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="login-field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="usernameForm" [errorStateMatcher]="matcher">
        <mat-error *ngIf="loginForm.controls.usernameForm.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="login-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="passwordForm" [errorStateMatcher]="matcher">
        <mat-error *ngIf="loginForm.controls.passwordForm.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div class="login-actions">
        <button mat-raised-button color="primary" [disabled]="loading">Login</button>
        <div *ngIf="loading" class="spinner-container">
          <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <a routerLink="/registration" class="register-link">Register</a>
      </div>
    </form>
  </mat-card-subtitle>
  <mat-card-footer>
    <alert></alert>
  </mat-card-footer>
</mat-card>
