<div class="layout">

<div class="center" style="background-color: #125A85; border: 1px solid #0C3C59; height: 80px;">
  <div *ngIf="currentUser">
    <div class="parent">
      <div class="left">
        <img src="assets/img/mtgpilot_logo.png" class="left">
      </div>
      <div class="center">
        <nav>
          <a routerLink="/home" class="padded">Home</a>
          <a routerLink="/dashboard" class="padded">Dashboard</a>
          <a routerLink="/decks" class="padded">Decks</a>
          <a class="padded" (click)="logout()">Logout</a>
        </nav>
      </div>
      <div class="right"></div>
    </div>
  </div>

  <div *ngIf="!currentUser">
    <div class="parent">
      <div class="left">
        <img src="assets/img/mtgpilot_logo.png" class="left">
      </div>
      <div class="center">
        <nav>
          <a routerLink="/home" class="padded">Home</a>
          <a routerLink="/login" class="padded">Login</a>
        </nav>
      </div>
      <div class="right"></div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>


