/* AppComponent's private CSS styles */

h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 1.75em;
  font-family: 'Exo 2', sans-serif;
  @media only screen and (max-width: 850px) { 
    font-size: 1.25em;
    @media only screen and (max-width: 650px) { 
      font-size: 1em;
    }
  }
}
nav a:visited, a:link {
  color: rgb(197, 197, 197);
}
nav a:hover {
  color: #039be5;
}
nav a.active {
  color: #039be5;
} 

.parent {
  display: flex;
  @media only screen and (max-width: 650px) { 
    height: 42px;
  }
}
.left, .right {
  flex: 1;
  @media only screen and (max-width: 650px) { 
    flex: 0;
  }
}

.logo {
  @media only screen and (max-width: 650px) { 
    display: none;
  }
}