<!-- <div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div> -->

<div class="mat-elevation-z8 left padded table">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Item Column -->
    <ng-container matColumnDef="card">
      <th mat-header-cell *matHeaderCellDef> Card </th>
      <td mat-cell *matCellDef="let card"> {{card.name}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let card"> {{card.value | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (click)="setCard(i)"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

  </table>

  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
</div>

<mat-card class="center card">
  <div *ngIf="selectedCard">
    <mat-card-title> <input [(ngModel)]="selectedCard.name" placeholder="Name"/> </mat-card-title>
      <mat-card-subtitle>	
        <input [(ngModel)]="selectedCard.set" placeholder="Set"/>
        <input [(ngModel)]="selectedCard.purchasePrice" placeholder="Purchase Price"/> 
        <mat-form-field class="form">
          <mat-label>Foil</mat-label>
          <mat-select [(value)]="selectedFoil">
            <mat-option value="false">Non-foil</mat-option>
            <mat-option value="true">Foil</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form">
          <mat-label>Condition</mat-label>
          <mat-select [(value)]="selectedCondition">
            <mat-option value=0>Near-mint</mat-option>
            <mat-option value=1>Light-play</mat-option>
            <mat-option value=2>Moderate-play</mat-option>
          </mat-select>
        </mat-form-field>
        <input [(ngModel)]="selectedCard.quantity" placeholder="Quantity"/> 
      </mat-card-subtitle>

      <!-- TODO pull card picture and description from backend -->
      <!-- <mat-card-content> Primary card content. Intended for blocks of text. </mat-card-content> -->
      <!-- <img mat-card-image>	Card image. Stretches the image to the container width -->
      <mat-card-actions><button mat-raised-button (click)="saveCard(selectedFoil, selectedCondition)">Save Card</button></mat-card-actions>
      <!-- <mat-card-footer> --> 

  </div>
</mat-card>

<button mat-raised-button (click)="resetSelectedCard()">Add New Card</button>