/* DeckDetailComponent's private CSS styles */

.layout {
  display: flex;
  justify-content: space-around;
  @media only screen and (max-width: 1500px) { 
    flex-flow: row wrap;
    @media only screen and (max-width: 1200px) { 
      flex-flow: column wrap;
      align-items: center;
    }
  }
}

label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

table {
  width: 600px;
  margin-top: 20px;
  @media only screen and (max-width: 650px) {
    // TODO stuck at 404 for mobile 
    width: 300px !important;
  }
}
tr.mat-footer-row {
  font-weight: bold;
}
.card {
  width: 500px;
  height: 650px;
  margin-top: 50px;
  @media only screen and (max-width: 650px) { 
    width: 318px;
  }
}
.deck {
  width: 500px;
  height: 175px;
  margin-top: 25px;
  @media only screen and (max-width: 650px) { 
    width: 318px;
  }
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.example-full-width {
  width: 45%;
}

.form {
  width: 179px !important; 
}
.refresh-button {
  width: 125px; 
  height: 25px;
}
  
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.decks {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  width: 20em;
  margin-top: 25px;  @media only screen and (max-width: 650px) { 
    width: 318px;
  }

}
.decksPatch {
  width: 600px;
  @media only screen and (max-width: 650px) { 
    width: 318px;
  }

}
.decks li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.decks li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.decks li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.decks .text {
  position: relative;
  top: -3px;
}
.decks .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}