<div *ngIf="deck">
  <h2>{{deck.name | uppercase}} Details</h2>
  <div><span>id: </span>{{deck.id}}</div>
  <div><span>name: </span>{{deck.name}}</div>
  <div><span>format: </span>{{deck.format}}</div>
  <a *ngFor="let card of deck.cards" class="col-1-4">
    <div class="module deck">
      <h4>{{card.name}}</h4>
    </div>
  </a>

  <div>
    <label>name:
      <input [(ngModel)]="deck.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
</div>

<button (click)="save()">save</button>