/* DashboardComponent's private CSS styles */

.layout {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  @media only screen and (max-width: 1500px) { 
    @media only screen and (max-width: 1200px) { 
      flex-flow: column wrap;
      align-items: center;
    }
  }
}

.graph {
  width: 800px;
  height: 1000px;
  margin-top: 20px;
  @media only screen and (max-width: 850px) { 
    width: 400px;
    height: 500px;
  }
}