/* Application-wide Styles */

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #888;
  background-color: #444;
  font-family: Cambria, Georgia;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
.root {
  display: block; width: 100%;
}
.center {
  margin: auto;
  text-align: center;
}
.right {
  float: right;
}
.left {
  float: left;
}
.padded {
  margin: 5px 5px 5px 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alert-success {
  color: green;
  background-color: greenyellow;
}

.alert-danger {
  color: #D8000C;
  background-color: #FFBABA;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
