<div class ="padded layout">

  <div>
    <mat-card class="card2">
      <mat-card-title style="text-align: center"> Welcome to MTG Pilot! </mat-card-title>
      <mat-card-subtitle style="text-align: center"> Track the financial value of your collection! <br> <br> </mat-card-subtitle>
      <mat-card-title style="text-align: center"> To Get Started </mat-card-title>
      <mat-card-content> <font size="4">
        1) Login <br> <br>
        2) Click "Decks" on the top <br> <br>
        3) Create a new deck <br> <br>
        4) Add some cards <br> <br>
        5) Click "Deck Overview" at the top of your deck list <br> <br>
        6) Hit the "Refresh" button in the center <br> <br>
        7) Click "Dashboard" on the top <br> <br>
        8) You should see a graph with one data point on it, come back tomorrow and watch your graphs grow! <br>
      </font>
      </mat-card-content>
    </mat-card>
  </div>

  <div style="margin-top: 20px">
    <carousel>
      <ng-container *ngFor="let item of items;">
        <ng-container *carouselItem>
          <img mat-card-image class="item img" src={{item.title}}>
        </ng-container>
      </ng-container>
    </carousel>
  </div>

</div>
