<div style="border: 5px solid white; border-collapse: collapse;" class ="block padded layout">

  <div>
    <mat-card class="card1">
      <img mat-card-image src="assets/img/logo.png" class="padded" style="width: 600px; height: 400px; border: 2px solid black; margin: 0 auto;">
      <img mat-card-image src="assets/img/1.PNG" class="padded" style="width: 600px; height: 400px; border: 2px solid black; margin: 0 auto;">
      <img mat-card-image src="assets/img/2.PNG" class="padded" style="width: 600px; height: 400px; border: 2px solid black; margin: 0 auto;">
    </mat-card>
  </div>

  <div>
    <mat-card class="card2">
      <mat-card-title style="text-align: center"> Welcome! </mat-card-title>
      <mat-card-subtitle style="text-align: center"> Track the financial value of your collection! </mat-card-subtitle>
      <mat-card-title style="text-align: center"> To Get Started </mat-card-title>
      <mat-card-content> 
        1) Click "Decks" on the top <br>
        2) Create a new deck <br>
        3) Add some cards <br>
        4) Click "Deck Overview" on the list on the right side <br>
        5) Hit the "Refresh" button <br>
        6) Click "Dashboard" on the top <br>
        7) You should see a graph with one data point on it, come back tomorow and watch your graphs grow! <br>
      </mat-card-content>
    </mat-card>
  </div>

</div>
